@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap");

$colors: (
	"base": #252525,
	"light": #f3f3f3,
	"primary": #0ad658,
	"secondary": #39d0eb
);

@function get-color($color) {
	@return map-get($colors, $color);
}

* {
	padding: 0;
	margin: 0;
}

body {
	display: block;
	position: relative;
	font-family: "Montserrat", sans-serif;

	color: get-color(light);
	background-color: get-color(base);
}

h1 {
	font-family: "Noto Sans", sans-serif;
}

.button {
	cursor: pointer;
	background-color: get-color(primary);

	display: inline-block;
	font-size: 25px;
	padding: 20px 30px;
	border-radius: 15px;
}

header {
	margin-top: 5px;
	text-align: center;
	font-size: 36px;
}

.line {
	background-color: get-color(light);
	height: 5px;
	width: 90%;
	margin: 20px 0;
	margin-left: 5%;
}

.selection {
	display: block;
	text-align: center;

	.choices {
		display: flex;
		justify-content: center;
	}

	.option {
		cursor: pointer;
		height: 500px;
		width: 400px;

		margin: 0 20px;

		text-align: left;
		display: flex;
		align-items: flex-end;
	}

	.option:hover {
		box-shadow: inset 0px 0px 300px 200px rgba(255, 255, 255, 0.25);
	}

	.button {
		margin-top: 100px;
	}
}

.result {
	// TODO bar graph for top bew
	// TODO list for rest
}

.hidden {
	display: none;
}
