@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap");

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-family: "Noto Sans", sans-serif;
}

.selection {
	text-align: center;

	.choices {
		display: flex;
		justify-content: center;
	}

	.option {
		height: 500px;
		width: 500px;

		text-align: left;
		display: flex;
		align-items: flex-end;
	}

	.option:hover {
		box-shadow: inset 0px 0px 300px 200px rgba(255, 255, 255, 0.25);
	}
}
