<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Project Darwin</title>
		<link rel="stylesheet" href="../static/style.css" />
	</head>
	<body>
		<header>
			<h1>Project Dawrin</h1>
			<div class="line"></div>
		</header>
		<main>
			<div class="hidden selection">
				<h1>Please select one of the options:</h1>
				<div class="choices"></div>
				<a class="hidden button button-results" onclick="getResults()"
					>Submit Votes / See Results</a
				>
			</div>
			<div class="result">
				<h1>Results:</h1>
				<!-- Search / Filter options -->
				<!-- Bar graph of top -->
				<div class="graph">
					<p amount="70">Ice Cream</p>
					<p amount="16">Apple Pie</p>
					<p amount="5">Sushi</p>
				</div>
				<!-- List of others -->
				<div class="list">
					<p amount="3">Tofu</p>
					<p amount="2">Apple Juice</p>
					<p amount="2">Coke</p>
					<p amount="1">Bubble Gum</p>
					<p amount="1">Chocolate</p>
				</div>

				<!-- For each, display img, title, ranking info -->
			</div>
		</main>
		<script src="../static/main.js"></script>
	</body>
</html>
