<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Project Darwin</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body>
		<header>
			<h1>Project Dawrin</h1>
			<div class="line"></div>
		</header>
		<main>
			<div class="hidden selection">
				<h1>Please select one of the options.</h1>
				<div class="choices"></div>
				<a class="hidden button button-results" onclick="getResults()"
					>Submit Votes / See Results</a
				>
			</div>
			<div class="result">
				<h1>Results</h1>
				<!-- Search / Filter options -->
				<!-- Bar graph of top -->
				<!-- List of others -->

				<!-- For each, display img, title, ranking info -->
			</div>
		</main>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
	</body>
</html>
